@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

header {
  color: gray;
  padding: 1rem 5rem;
  border-bottom: 1px solid gray;
  width: 100vw;
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

header span {
  border: 1px solid gray;
  border-radius: 30px;
  border-color: orangered;
  color: orangered;
  padding: 5px 10px;
}

main div {
  max-width: 90vw;
  padding: 1rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  place-items: center;
}
